#root {
  display: block;
  width: auto;
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

main {
  padding: 3.5em 2em;
  display: block;
  box-sizing: border-box;
}

.details-body {
  margin: 0 0 0 0.55em;
  padding: 0.3em 0 0.5em 1em;
  border-left: 1px solid #ccc;
}

button {
  display: inline;
  padding: 0.3em 0.6em;
  border: 1px solid grey;
  font-size: 0.8em;
}

button+button {
  margin-left: 0.5em;
}

span.actions {
  display: inline-block;
  width: 100%;
}

.content {}

.content+span.actions {
  margin-top: 0.4em;
}

.textarea-wrapper {
  width: 100%;
}

.create-task {
  display: block;
}

.entry-form {
  margin: 0 0 1em 1em;
  padding: 1em 0 0 1em;
  border-left: 2px solid #ccc;
}

footer {
  position: fixed;
  display: block;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  padding: 1em 2em;
  border-top: 1px solid #ccc;
  height: 3em;
  background-color: #f7f7f7;
  box-shadow: 0 -2px 0.5em white;
}

label {
  width: 100%;
  display: inline-block;
  padding: 0.2em 0;
}

summary {
  padding: 0.15em 0.25em;
}

.action-element {
  display: inline-block;
  width: 100%;
}

.action-element+.action-element {
  margin-top: 0.2em;
}