#root {
  display: block;
  width: auto;
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

main {
  padding: 3.5em 2em;
  display: block;
  box-sizing: border-box;
}

.details-body {
  padding-left: 1em;
  padding-bottom: 2em;
  border-left: 1px solid #ccc;
}

button {
  display: inline;
  padding: 0.3em 0.6em;
  border: 1px solid grey;
  font-size: 0.8em;
}

button+button {
  margin-left: 0.5em;
}

span.actions {
  display: inline-block;
}

.content {}

.content+span.actions {
  padding-top: 1em;
}

.textarea-wrapper {
  width: 100%;
}

.create-task {
  display: block;
}

.entry-form {
  margin: 0 0 1em 1em;
  padding: 1em 0 0 1em;
  border-left: 2px solid #ccc;
}

footer {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  padding: 1em 2em;
  border-top: 1px solid #ccc;

}