#root {
  display: block;
  width: auto;
  margin: 0;
  top: 0;
  padding: 3.5em 2em;
}

.details-body {
  padding-left: 1em;
  margin-bottom: 2em;
}

button {
  display: inline;
  padding: 0.3em 0.6em;
  border: 1px solid grey;
  font-size: 0.8em;
}

button+button {
  margin-left: 0.5em;
}

span.actions {
  display: inline-block;
}

.content {}

.content+span.actions {
  margin-top: 1em;
}

textarea {
  width: 100%;
  height: 8em;
  margin: 1em 0 0.5em 0;
}